@import './style/bulma';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif !important;

  .dark & {
    background-color: $dark !important;
    color: $light !important;
  }
}

#app {
  @extend .content;

  height: 100%;
  margin-bottom: 0 !important;

  p.flexi-paragraph {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
  }
}
