@use 'node_modules/bulma/bulma';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  height: 100vh;
}

#app {
  @extend .content;

  height: 100%;
  margin-bottom: 0 !important;
}
